Options +FollowSymlinks

RewriteEngine On
RewriteBase /


# one resource
RewriteRule ^api/([a-z]+)/([a-z0-9]+)/?$ /index.php?api&resource=$1&id=$2 [L,NC,QSA]


# resources
RewriteRule ^api/([a-z]+)/?$ /index.php?api&resource=$1&$2 [L,NC,QSA]

RewriteRule ^api/?$ / [R,NC]