<tr class="${odd}" data-relation-id="${relation_id}">   
      <td>${label}</td>
      <td>${type}</td>
      <td style="text-align:center">${trust_level}</td>
      <td class="review" title="Review this relation."><a href="?screen=relation-review&id=${relation_id}">Review</a></td>
      <td class="arrow" title="Click to see relation details."><a>details</a></td>
</tr>