@import url(./reset.css);

body {
    font: normal 12px;
    color: #3c3c3c;
    background:#fff;
    font-family: 'PT Sans', arial, serif;
}

.fleft { float: left; }
.fcenter { margin: 0 auto; }
.fright { float: right; }

.tl { text-align: left; }
.tc { text-align: center; }
.tr { text-align: right; }
.tj { text-align: justify; }

.breaker {
    display: block;
    clear: both;
    overflow: hidden;
    height: 0;
    font-size: 0;
    line-height: 0;
    margin: 0;
    padding: 0;
}

header h1,
header h2 {
    display:none;
}

h1, h2 {
   color:#123E59;
   text-transform: uppercase;
   font-size:25px;
   font-family: 'Vollkorn',arial,serif;
   font-weight:bold;
}

h3 {
    color:#3c1c3c;
    text-transform: uppercase;
    font-size:24px;
    font-family: 'PT Sans', arial, serif;
    font-weight:bold;
    padding-bottom: 15px;
}

a {
      color:#8F436B;
      text-decoration: underline;
}

#mask {
    height:100%;
    width:100%;
    background: rgba(0,0,0,0.6);    

    position:absolute;
    z-index:99999;

    display:none;
    color:white;
}


.no-rgba #mask {
    background: black;
    opacity:0.6;
    filter: alpha(opacity = 60);
}



.inputEmbed h3 {
    display: none;
}

.inputEmbed {
    display:none;
    width:700px;
    padding:10px;
    position:relative;
    z-index:999;
    text-align:center;
    font-size:18px;
    color:black;
}


.inputEmbed section {
    display:block;
    margin-bottom:60px;
}

.inputEmbed h2 {
    display:none;
}

.inputEmbed input.text {
    border:silver 1px solid;
    font-size:20px;
    padding:2px;
    width:400px;
    color:white;
    background: black;
    margin-top:5px;
}


.button {
    display:inline-block;   
    padding:5px 10px !important; 
    margin:0;

    box-shadow:0px 3px 4px #372137;
    -webkit-box-shadow:0px 3px 4px #372137;
    -o-box-shadow:0px 3px 4px #372137;
    -moz-box-shadow:0px 3px 4px #372137;
    
    
    border-radius:2px;
    -webkit-border-radius:2px;
    -o-border-radius:2px;
    -moz-border-radius:2px;
      
    line-height: 20px;

    font-family: 'Vollkorn',arial,serif;
    font-weight:bold;
    font-size:14px;
    font-style: italic;

    border:0px;
    background: #D7D7D7;
    color: #372137;    
    text-decoration: none;
    
    cursor:pointer;
    white-space: nowrap;
}


.button.light {
    background:#f4f3e2;
    color:#362138;   
}

.button.violet {
    background: #362138;
    color:#d7d7d7;   
}

.button.blue {
    color:white;
    background:#163d59;
    
    box-shadow:3px 3px 0 0 #487591;
    -webkit-box-shadow:3px 3px 0 0 #487591;
    -o-box-shadow:3px 3px 0 0 #487591
    -moz-box-shadow:3px 3px 0 0 #487591
}

input[type=text],
input[type=password],
input.text,
textarea {
    background-color: #f4f6f7 !important;
    box-shadow:1px 1px 3px 0px rgb(0,0,0) inset; 
    -moz-box-shadow:1px 1px 3px 0px rgb(0,0,0) inset; 
    -webkit-box-shadow:1px 1px 3px 0px rgb(0,0,0) inset; 
    -o-box-shadow:1px 1px 3px 0px rgb(0,0,0) inset; 
    /* multiple background method image
    background:url("../images/input-corner-shadow.png") top left no-repeat,
               url("../images/input-y-shadow.png") top left repeat-y,
               url("../images/input-x-shadow.png") top left repeat-x;*/
    border:0px;
    padding:4px 4px;
    color:#5d405d;

    -moz-transition:0.5s;
    -khtml-transition:0.5s;
    -webkit-transition:0.5s;
    -o-transition:0.5s;
    transition:0.5s;
}

input.placeholder {
    color:#a3a3a3;
}


.required.highlight {
    background-color: #f8eded !important;
    box-shadow:1px 1px 3px 0px rgb(0,0,0) inset, 0px 0px 15px 0px #f8eded; 
    -o-box-shadow:1px 1px 3px 0px rgb(0,0,0) inset, 0px 0px 15px 0px #f8eded; 
    -webkit-box-shadow:1px 1px 3px 0px rgb(0,0,0) inset, 0px 0px 15px 0px #f8eded; 
    -moz-box-shadow:1px 1px 3px 0px rgb(0,0,0) inset, 0px 0px 15px 0px #f8eded; 
}

.fhidden {
    display:none !important;
}


.radiusLight {
    border-radius:3px;
    -webkit-border-radius:3px;
    -moz-border-radius:3px;
    -khtml-border-radius:3px; 
    -o-border-radius:3px;    
    background: #d7d7d7;
}

.simpleShadow {
    box-shadow:0px 2px 5px rgba(0,0,0,0.5); 
    -moz-box-shadow:0px 2px 5px rgba(0,0,0,0.5); 
    -khtml-box-shadow:0px 2px 5px rgba(0,0,0,0.5); 
    -webkit-box-shadow:0px 2px 5px rgba(0,0,0,0.5); 
    -o-box-shadow:0px 2px 5px rgba(0,0,0,0.5); 
}


/** Tipsy skin for Freebase Topic **/
.fb-topic-loading {
    cursor: wait;
}

.fb-topic-tipsy .tipsy-inner {
    max-width: 400px;
    width:400px;
    min-height:90px;
    padding:20px 10px;
}
.fb-topic-tipsy.tipsy img {
    max-width:113px;
    display:block;
}
.fb-topic-tipsy.tipsy p{
    margin-left:133px;
    text-align: left;
    margin-bottom:5px;
} 
.fb-topic-tipsy.tipsy .image {
    width:113px;
    height:80px;
    overflow:hidden;
    padding-left:10px;
    float:left;
    margin-left:0;
    text-align: center;
}

/* input[type=text]:focus,
input[type=password]:focus,
input.text:focus,
textarea:focus,
.required.highlight:focus{
    box-shadow:1px 1px 3px 0px rgb(0,0,0) inset, 0px 0px 15px 0px #f4f3e2;
    -o-box-shadow:1px 1px 3px 0px rgb(0,0,0) inset, 0px 0px 15px 0px #f4f3e2;
    -moz-box-shadow:1px 1px 3px 0px rgb(0,0,0) inset, 0px 0px 15px 0px #f4f3e2;
    -webkit-box-shadow:1px 1px 3px 0px rgb(0,0,0) inset, 0px 0px 15px 0px #f4f3e2;
    background-color: #f4f3e2 !important;
} */