@import url(./reset.css);

body {
    font: normal 12px Georgia, Arial, Verdana, sans-serif;
    color: #000000;
    background:#eee;
}

.fleft { float: left; }
.fcenter { margin: 0 auto; }
.fright { float: right; }

.tl { text-align: left; }
.tc { text-align: center; }
.tr { text-align: right; }
.tj { text-align: justify; }

.breaker {
    display: block;
    clear: both;
    overflow: hidden;
    height: 0;
    font-size: 0;
    line-height: 0;
    margin: 0;
    padding: 0;
}

header h1,
header h2 {
    display:none;
}

#app {
    width:990px;
    height:667px;
    border:1px solid #aaa;
    padding:0px;
    margin:0px;
}

#workspace {
    background:#dcdcdb;
    height:666px;
    border:1px solid #fff;
}

#overflow {
    height:667px;
    width:990px;
    overflow:hidden;
}

#mask {
    height:667px;
    width:990px;
    background: rgba(250,250,250,0.6);
    box-shadow:0px 0px 600px 50px #eee inset;
    -webkit-box-shadow:0px 0px 600px 50px #eee inset;
    -o-box-shadow:0px 0px 600px 50px #eee inset;
    -moz-box-shadow:0px 0px 600px 50px #eee inset;

    position:absolute;
    z-index:799;

    display:none;
}


.no-rgba #mask {
    background: white;
    opacity:0.6;
    filter: alpha(opacity = 60);
}

footer {
    height:36px;
    margin:0px 1px;
    padding:10px;
    background: url('../images/share.png') repeat-x #8d8d8d;
    display:block;
    clear:both;

    position:relative;
    z-index:500;
}

footer section h3 {
    display: none;
}

footer section {
    display:inline;
}

.showFooter {
    height:30px;
    margin:0px 1px;
    margin-top:-30px;
    display:block;
    background:transparent url("../images/show-footer.png");

    position:relative;
    z-index:500;
    clear:both;
}

.inputEmbed h3 {
    display: none;
}


.showFooter .trigger {
    height:66px;
    margin-top:-36px;
    margin-right:10px;
    float:right;
}

.powered {
    display:block;
    float:left;
}

.like {

    height:17px;
    padding:10px;
    top:-2px;
    margin-left:20px;
    float:left;

    background:white;

    border-radius:20px;
    -webkit-border-radius:20px;
    -moz-border-radius:20px;
    -khtml-border-radius:20px;
}

.copier {
    padding:2px;
    font-weight:bold;
    top:-2px;
    position:relative;
    font-size:15px;
}

.copierTitle {
    margin-left:-40px;
    margin-top:5px;
}

.sharing {

    height:17px;
    padding:10px;
    top:-2px;
    float:right;

    background:white;

    border-radius:20px;
    -webkit-border-radius:20px;
    -moz-border-radius:20px;
    -khtml-border-radius:20px;

}


.sharing a, .sharing .share{
    font-size:12px;
    color:gray;
    text-decoration:none;
    float:right;
    margin-right:5px;
}

.sharing .bg-white {
    background:white;
    padding:1px 2px;
    padding-bottom:0px;
    height:17px;

    border-radius:3px;
    -webkit-border-radius:3px;
    -moz-border-radius:3px;
    -khtml-border-radius:3px;

    border:1px solid silver;
}

.sharing a img{
    border:0px;
    margin:0px;
    padding:0px;
}

.inputEmbed {
    display:none;
    width:700px;
    padding:10px;
    position:relative;
    z-index:999;
    text-align:center;
    font-size:18px;
    color:white;
    text-shadow:0px 0px 4px #000;
}


.inputEmbed section {
    display:block;
    margin-bottom:60px;
}

.inputEmbed h2 {
    display:none;
}

.inputEmbed input.text {
    border:silver 1px solid;
    font-size:20px;
    padding:2px;
    width:400px;
    color:white;
    background: black;
    margin-top:5px;
}


.button {
    display:inline-block;   
    padding:5px 10px !important; 
    margin:0;

    box-shadow:0px 3px 4px #372137;
    -webkit-box-shadow:0px 3px 4px #372137;
    -o-box-shadow:0px 3px 4px #372137;
    -moz-box-shadow:0px 3px 4px #372137;
    
    
    border-radius:2px;
    -webkit-border-radius:2px;
    -o-border-radius:2px;
    -moz-border-radius:2px;
      
    line-height: 20px;

    font-family: 'Vollkorn',arial,serif;
    font-weight:bold;
    font-size:14px;
    font-style: italic;

    border:0px;
    background: #D7D7D7;
    color: #372137;    
    text-decoration: none;
    
    cursor:pointer;
    white-space: nowrap;
}


.button.light {
    background:#f4f3e2;
    color:#362138;   
}

.button.violet {
    background: #362138;
    color:#d7d7d7;   
}

input[type=text],
input[type=password],
input.text,
textarea {
    background-color: #f4f3e2 !important;
    box-shadow:1px 1px 3px 0px rgb(0,0,0) inset; 
    -moz-box-shadow:1px 1px 3px 0px rgb(0,0,0) inset; 
    -webkit-box-shadow:1px 1px 3px 0px rgb(0,0,0) inset; 
    -o-box-shadow:1px 1px 3px 0px rgb(0,0,0) inset; 
    /* multiple background method image
    background:url("../images/input-corner-shadow.png") top left no-repeat,
               url("../images/input-y-shadow.png") top left repeat-y,
               url("../images/input-x-shadow.png") top left repeat-x;*/
    border:0px;
    padding:4px 4px;
    color:#5d405d;

    -moz-transition:0.5s;
    -khtml-transition:0.5s;
    -webkit-transition:0.5s;
    -o-transition:0.5s;
    transition:0.5s;
}

input.placeholder {
    color:#a3a3a3;
}

.required.highlight {
    background-color: #f8eded !important;
    box-shadow:1px 1px 3px 0px rgb(0,0,0) inset, 0px 0px 15px 0px #f8eded; 
    -o-box-shadow:1px 1px 3px 0px rgb(0,0,0) inset, 0px 0px 15px 0px #f8eded; 
    -webkit-box-shadow:1px 1px 3px 0px rgb(0,0,0) inset, 0px 0px 15px 0px #f8eded; 
    -moz-box-shadow:1px 1px 3px 0px rgb(0,0,0) inset, 0px 0px 15px 0px #f8eded; 
}

input[type=text]:focus,
input[type=password]:focus,
input.text:focus,
textarea:focus,
.required.highlight:focus{
    box-shadow:1px 1px 3px 0px rgb(0,0,0) inset, 0px 0px 15px 0px #f4f3e2;
    -o-box-shadow:1px 1px 3px 0px rgb(0,0,0) inset, 0px 0px 15px 0px #f4f3e2;
    -moz-box-shadow:1px 1px 3px 0px rgb(0,0,0) inset, 0px 0px 15px 0px #f4f3e2;
    -webkit-box-shadow:1px 1px 3px 0px rgb(0,0,0) inset, 0px 0px 15px 0px #f4f3e2;
    background-color: #f4f3e2 !important;
}