.tipsy {       
      padding: 5px; font-size: 14px; position: absolute; z-index: 100000;      
}
.tipsy-inner { 
      padding: 5px 8px 4px 8px;
      color:#000;
      font-family: 'Vollkorn', arial, serif;  
      max-width: 250px; 
      text-align: center; 
      
      border-radius:3px;
      -webkit-border-radius:3px;
      -moz-border-radius:3px;
      -khtml-border-radius:3px; 
      -o-border-radius:3px;    
      
      background-color: #fff;
      
      box-shadow:0px 2px 5px rgba(0,0,0,0.5); 
      -moz-box-shadow:0px 2px 5px rgba(0,0,0,0.5); 
      -khtml-box-shadow:0px 2px 5px rgba(0,0,0,0.5); 
      -webkit-box-shadow:0px 2px 5px rgba(0,0,0,0.5); 
      -o-box-shadow:0px 2px 5px rgba(0,0,0,0.5);
}
.tipsy-arrow { position: absolute; background: url('../images/tipsy-white.gif') no-repeat top left; width: 21px; height: 11px; }
.tipsy-sky .tipsy { background-image: url('../images/tipsy-sky.gif'); }
.tipsy-n .tipsy-arrow { top: 0; left: 50%; margin-left: -10px; }
.tipsy-nw .tipsy-arrow { top: 0; left: 10px; }
.tipsy-ne .tipsy-arrow { top: 0; right: 10px; }
.tipsy-s .tipsy-arrow { bottom: 0; left: 50%; margin-left: -10px; background-position: bottom left; }
.tipsy-sw .tipsy-arrow { bottom: 0; left: 10px; background-position: bottom left; }
.tipsy-se .tipsy-arrow { bottom: 0; right: 10px; background-position: bottom left; }
.tipsy-e .tipsy-arrow { top: 50%; margin-top: -10px; right: 0; width: 11px; height: 21px; background-position: top right; }
.tipsy-w .tipsy-arrow { top: 50%; margin-top: -10px; left: 0; width: 11px; height: 21px; }
    